html,
body {
  background-color: $background;
  color: $text-color;
  font-family: $fonts;
  font-weight: 200;
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

a,
a:visited {
  color: $link-basic-color;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.big-header {
  border-bottom: 1px solid $border-color;
}

.big-footer {
  @extend .columns, .flex-space-between, .flex-wrap;
  padding: 12px;
  font-weight: normal;
  background-color: $footer-background;
  // border-top: 1px solid $border-color;
  > * {
    @extend .margin-small;
  }
}

#content {
  min-height: 60vh;
  margin: 1em auto;
  width: 80%;
}

.big-header,
#content {
  padding: 1.5rem;
}

.demo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.tile {
  background: $accent-background;
  // padding: 9em 2em;
  margin: 1em;
  border-radius: 1em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 60vh;

  text-decoration: none;
  font-size: 1.25em;

  h2 {
    font-weight: normal;
  }

  span {
    display: block;
    max-width: 20ch;
    text-align: center;
  }
}

.columns {
  display: flex;

  &.flex-space-between {
    justify-content: space-between;
  }

  &.flex-space-around {
    justify-content: space-around;
  }

  &.flex-left {
    justify-content: start;
  }

  &.flex-column {
    flex-direction: column;
  }

  &.flex-middle {
    text-align: center;
    justify-content: center;
    align-content: center;
  }

  &.flex-items-center {
    align-items: center;
  }

  .column {
    flex: auto;

    &.text-right {
      flex: 0;
    }
  }

  .flex-max {
    flex: max-content;
  }
}

.card {
  &.card-radius {
    @extend .border-radius;
  }
  @extend .border;

  > .card-footer {
    padding: 1.2rem;
  }

  > .card-header,
  > .card-body {
    padding-top: 0.938rem;
    padding-bottom: 0.938rem;
    padding-left: 1.4rem;
  }
}

.inverse {
  background-color: $h-color;
  color: $white !important;
  font-weight: normal;
  text-decoration: none;
}

.category {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  padding-right: 1.5rem;
  padding-left: 1.5rem;
  font-weight: normal;
  margin-right: 0.5rem;
  color: $h-color;
  margin: 8px;
  @extend .border, .border-radius
}

.tag {
  @extend .category;
  border-radius: 100px !important;
}

.links {
  display: flex;
  height: 100%;
  align-items: center;

  a {
    padding: 0 25px;
    font-size: 14pt;
    text-decoration: none;
  }
}

.home-link {
  a {
    text-decoration: none;
    font-size: 14pt;
  }

  h1 {
    margin: 0;
    font-size: 18pt;
    line-height: 0.75em;
  }
}

.arrow-right {
  width: 1.3rem;
  height: 0.75rem;
  @include icon(url("/images/icons/arrow-right.svg"), 2rem, right);
}

h1 {
  font-weight: 400;
  font-size: 30px;
  color: $h-color;
}
h2 {
  font-weight: 300;
  font-size: 20px;
  color: $h-color;
}

.icon-danger {
  &::before {
    @include icon-danger;
  }
}

.button-danger {
  @extend .button-primary;
  background-color: $red !important;
  @extend .padding-small;
  @extend .icon-danger;
}

.background-accent {
  background-color: $accent-background !important;
}

.background-default {
  background-color: $background !important;
}
#about {
  font-size: 20px;
}

#show p {
  font-weight: 300;
  font-size: 18px;
  color: $show-text-color;
}

.project-actions {
  @extend .margin-xlarge-top, .columns, .flex-items-center, .flex-wrap;
}

@media (max-width: $breakpoint-large) {
  .big-footer > * {
    text-align: center;
    flex: max-content;
  }
}

@media (max-width: $breakpoint-medium) {
  .project-actions > * {
    text-align: center;
    margin-bottom: $medium-gutter;
  }
}
