// Inputs

input[type="text"],
input[type="email"],
input[type="url"],
textarea,
.choose {
    border: 1px solid $input-border;
    border-radius: $border-radius;
}
.choose {
    width: 62.5%;
}
input[type="text"],
input[type="email"],
input[type="url"],
textarea {
    width: 48%;
    padding-left: 16px;
    font-family: $fonts;
    font-size: 16px;
    font-weight: lighter;
    color: $dark-purple;
}

// .choose{
//     display :flex;
//     flex-direction: column;
//     align-items: flex-start;
// }
.is-combo {
    width: 63% !important;
}

.co {
    margin-right: 23px;
}

textarea {
    height: 101px;
    padding-top: 17px;
}

.label {
    font-size: 18px;
    font-weight: 500;
    color: $label-color;
    text-align: left;
}

.sublabel {
    font-size: 14px;
    font-weight: 300;
    color: $label-color;
    text-align: left;
    display: block;
    margin-bottom: 9px;
}

input[type="text"],
input[type="email"],
input[type="url"] {
    height: 60px;
}

.button-primary {
    background: $button-background;
    border: none;
    color: white;
    border-radius: $border-radius;
    font-family: $fonts;
    font-weight: bold;
    padding: 12px 20px;

    &:hover {
        background-color: rgba(46, 99, 234, 0.8);
        transition: 0.5s;
        cursor: pointer;
    }
}

.button-circle {
    border: 1px solid $input-border;
    background-color: $white;
    border-radius: $circle-number;
    width: $circle-number;
    height: $circle-number;
    line-height: 50%;
    font-size: 36px;
}

.is-small {
    font-size: 20px;
}

.is-medium {
    font-size: 30px;
}

.is-big {
    font-size: 40px;
}

.button-outline {
    border: 1px solid $input-border;
    height: 33px;
    border-radius: $border-radius;
    font-family: $fonts;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.button-secondary {
    background-color: $input-border;
    height: 33px;
    border-radius: $border-radius;
    font-family: $fonts;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: white;
    border: none;
}

.button-radius {
    border-radius: $big-border-radius;
}
.btns {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.link {
    text-decoration: underline;
    color: $link-color;
    font-weight: 600;
    &:hover {
        color: rgba(46, 99, 234, 0.8);
        transition: 0.5s;
        cursor: pointer;
        text-decoration: dashed underline;
    }
}

.checkbox-label {
    padding-right: 50px;
}

input.checkbox + label::before {
    content: "";
    border: 1px solid $input-border;
    border-radius: $border-radius;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
    cursor: pointer;
}

input.checkbox:checked + label::before {
    content: "";
    border: 1px solid $input-border;
    background-color: $input-border;
    background-image: url("/images/icons/check.svg");
    background-position: 2 2;
    border-radius: $border-radius;
    display: inline-block;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.button-outline {
    border: 1px solid $input-border;
    height: 33px;
    border-radius: $border-radius;
    font-family: $fonts;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
}

.button-secondary {
    background-color: $input-border;
    height: 33px;
    border-radius: $border-radius;
    font-family: $fonts;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: white;
    border: none;
}

.button-radius {
    border-radius: $big-border-radius;
}

input[type="checkbox"],
input[type="radio"] {
    display: none;
}

.arrow::before {
    content: url("/images/icons/arrow-right.svg");
    display: inline-block;
    vertical-align: middle;
    padding-right: 10px;
}

::placeholder {
    color: $placeholder;
}

input.cb + label {
    border: 1px solid $input-border;
    // height: 33px;
    border-radius: $border-radius;
    font-family: $fonts;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: $button-text-color;
    border-radius: $big-border-radius;
    display: block;
    line-height: 33px;
    margin-bottom: $small-gutter;
    margin-right: $small-gutter;
}
input.cb + label:hover {
    background-color: rgba(10, 0, 63, 0.3);
    transition: 0.5s;
}
input.cb:checked + label {
    background-color: $input-border;
    height: 33px;
    border-radius: $border-radius;
    font-family: $fonts;
    font-weight: 500;
    padding-left: 40px;
    padding-right: 40px;
    text-align: center;
    color: white;
    border-radius: $big-border-radius;
    display: block;
}

@media (max-width: $breakpoint-large) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    textarea {
        width: 70%;
    }

    .choose {
        width: 80%;
    }
}

@media (max-width: $breakpoint-medium) {
    input[type="text"],
    input[type="email"],
    input[type="url"],
    textarea {
        width: 100%;
    }

    .choose {
        width: 100%;
    }
}
